<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futebol</title>
</head>

<body class="bg-blue">
    <nav id="sidebar">
        <ul id="side_items">
            <li class="home-icon ">
                <a href="/">
                    <i class="fa-regular fa-home" aria-hidden="true"></i>
                </a>
            </li>
        </ul>

        <button id="plus">
            <i id="plus_content" class="fa-solid fa-plus"></i>
        </button>
    </nav>

<div class="organize-content">

    <div></div>

    <div class="organized-content-center">

        <div class="card_apresentacao">
        
            <div class="card_apresentacao_content_img_position">
                
                <img class="card_apresentacao_content_img" src="../../public/img/psg_team.png" alt="Time psg">
            
            </div>

            <div class="card_apresentacao_content_p_position">
                
                <div id="card_apresentacao_content_p" class="card_apresentacao_content_p">
    
                </div>
            
            </div>
            <div class="card_apresentacao_content_button_position">
            
                <button class="card_apresentacao_content_button">Ver mais <i class="fa-solid fa-arrow-right"></i></button>

            </div>

        </div>

        <div class="apresentacao_jogos">
                
            <div class="filter">
                
                <p class="filter_p">Filtros:</p>
    
                <select class="filter_select" name="sport" id="sport"> 
                    <option value="">Futebol</option>
                    <option value="">Basquete</option>
                    <option value="">Tenis</option>
                    <option value="">Futebol americano</option>
                </select>
    
                <select class="filter_select" name="members" id="members"> 
                    <option value="">1 vs 1</option>
                    <option value="">5 vs 5</option>
                    <option value="">7 vs 7</option>
                    <option value="">11 vs 11</option>
                </select>
    
                <select class="filter_select" name="local" id="local"> 
                    <option value="">America do Sul</option>
                    <option value="">Europa</option>
                    <option value="">Asia</option>
                    <option value="">America do Norte</option>
                </select>
                
            </div>
    
            <div id="jogos_position" class="jogos_position">
    
            </div>
        </div>
    
    </div>
  
    <div></div>
   
</div>

<script src="../../public/js/futebol/card_apresentacao.js"></script>
<script src="../../public/js/futebol/filter.js"></script>
<script src="../../public/js/main.js"></script>

</body>

</html>