@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 130px 351px 615px 351px;
}

.section {
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    width: 1080px;
    height: 335px;
    background: linear-gradient(90deg, rgb(234, 253, 244) 0%, #2DCC70 160%);
}

.section_div {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.section_img {
    padding-top: 40px;
}

.section_p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section_p1 {
    font-family: "Roboto", "sans-serif";
    font-weight: 550;
    font-size: 20px;
    line-height: 23.44px;
}

#section_p2 {
    font-family: "Roboto", "sans-serif";
    font-weight: 900;
    font-size: 32px;
    line-height: 37.5px;
}

#section_p3 {
    font-family: "Roboto", "sans-serif";
    font-weight: 900;
    font-size: 20px;
    line-height: 23.44px;
}

.section_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 259px;
    margin-right: 43px;
    width: 180px;
    height: 46px;
    color: #2DCC70;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    border: none;
    border-radius: 50px;
    background-color: white;
    transition: 0.5s;
}

.section_button:hover {
    background-color: #3cb66f;
    color: white;
    transition: 0.5s;
}