@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
}

/*Organizar a main*/

.organize-content {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 6fr 3fr;
}

.organized-content-center {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 5px 5px 5px;
}

.organized_content_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 5px 5px 5px;
}

.bg-blue {
  background-color: #F3F4F7;
}

@media (min-width: 450px) and (max-width: 850px) {
  .organize-content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .organized-content-center #mobile-position {
    order: -1;
  }
  .organized-content-center .card_apresentacao {
    order: -1;
  }
}

@media (max-width: 450px) {
  .organized-content-center #mobile-position {
    order: -1;
  }
  .organized-content-center .card_apresentacao {
    order: -1;
  }
}

/*style Sidebar*/

#sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  width: 90px;
  padding: 35px 0px;
  justify-content: space-between;
  max-height: 100vh;
  overflow-y: overlay;
  overflow-x: hidden;
}

#btn-mobile {
  display: none;
}

#side_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  padding: 35px 0px;
  list-style: none;
}

.home-icon a {
  display: flex;
  align-items: center;
  color: #caced3;
  padding: 8.5px 31px 8.5px 31px;
  font-size: 23px;
  text-decoration: none;
}

.home-icon-name {
  display: none;
}

.active-sidebar-icon {
  border-left: 3px solid;
}

.blue {
  border-color: #00b4d8;
}
.blue a {
  color: #00b4d8;
}

.green {
  border-color: #2dcc70;
}
.green a {
  color: #2dcc70;
}

.orange {
  border-color: #ffa600;
}
.orange a {
  color: #ffa600;
}

.brown {
  border-color: #583e00;
}
.brown a {
  color: #583e00;
}

.lemon-green {
  border-color: #f0ff1b;
}
.lemon-green a {
  color: #f0ff1b;
}

#plus {
  width: 50px;
  height: 50px;
  min-height: 50px;
  border: none;
  border-radius: 50px;
  background-color: #2dcc70;
  color: white;
  cursor: pointer;
}

#plus_content {
  font-size: 20px;
}

@media (min-width: 450px) and (max-width: 850px) {
  #btn-mobile {
    display: flex;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
  }
  
  #plus {
    display: none;
  }

  #hamburguer {
    border-top: 2px solid black;
    width: 20px;
    transition: 1s;
  }

  #hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: black;
    margin-top: 5px;
    position: relative;
    transition: 1s;
  }
  
  .active-sidebar-icon {
    border-left: transparent;
  }
  
  #sidebar {
    position: fixed;
    flex-direction: column;
    width: 70px;
    height: 60px;
    padding-top: 10px;
    transition: 1s;
  }
  
  #side_items {
    align-items: start;
  }
  
  .home-icon-name {
    display: flex;
  }
  
  #sidebar.active {
    width: 100%;
    height: 27rem;
    border-radius: 0px 0px 16px 16px;
    align-items: center;
    overflow-y: hidden;
    border-bottom: 1px solid black;
    transition: 1s;
  }

  #sidebar.active #hamburguer {
    border-top-color: transparent;
    transition: 0.5s;
  }

  #sidebar.active #hamburguer::before {
    margin-left: 10px;
    transform: rotate(135deg);
    top: 7px;
    transition: 1s;
  }

  #sidebar.active #hamburguer::after {
    margin-left: 10px;
    transform: rotate(-135deg);
    transition: 1s;
  }
  
  #sidebar.active #side_items, a {
    align-items: start;
    gap: 20px;
    border-left: transparent;
  }

  #sidebar.active .home-icon-name {
    display: flex;
    transition: 1s;
  }

  #sidebar.active .home-icon {
    display: flex;
    flex-direction: row;
    visibility: visible;
    overflow-y: hidden;
    transition: 1s;
  }
}

@media (max-width: 450px) {
  #btn-mobile {
    display: flex;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
  }
  
  #plus {
    display: none;
  }

  #hamburguer {
    border-top: 2px solid black;
    width: 20px;
    transition: 1s;
  }

  #hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: black;
    margin-top: 5px;
    position: relative;
    transition: 1s;
  }
  
  .active-sidebar-icon {
    border-left: transparent;
  }
  
  #sidebar {
    position: fixed;
    flex-direction: column;
    width: 70px;
    height: 60px;
    padding-top: 10px;
    transition: 1s;
  }
  
  #side_items {
    align-items: start;
  }
  
  .home-icon-name {
    display: flex;
  }
  
  #sidebar.active {
    width: 100%;
    height: 27rem;
    border-radius: 0px 0px 16px 16px;
    align-items: center;
    overflow-y: hidden;
    border-bottom: 1px solid black;
    transition: 1s;
  }

  #sidebar.active #hamburguer {
    border-top-color: transparent;
    transition: 0.5s;
  }

  #sidebar.active #hamburguer::before {
    margin-left: 10px;
    transform: rotate(135deg);
    top: 7px;
    transition: 1s;
  }

  #sidebar.active #hamburguer::after {
    margin-left: 10px;
    transform: rotate(-135deg);
    transition: 1s;
  }
  
  #sidebar.active #side_items, a {
    align-items: start;
    gap: 20px;
    border-left: transparent;
  }

  #sidebar.active .home-icon-name {
    display: flex;
    transition: 1s;
  }

  #sidebar.active .home-icon {
    display: flex;
    flex-direction: row;
    visibility: visible;
    overflow-y: hidden;
    transition: 1s;
  }

}

/*style Card-apresentação*/

.card_apresentacao {
  border-radius: 24px;
  display: grid;
  grid-template-columns: 5fr 8fr 3fr 0.5fr;
  height: auto;
  background: linear-gradient(90deg, rgb(234, 253, 244) 0%, #2dcc70 160%);
}

.card_apresentacao_content {
  display: flex;
  gap: 30px;
}

.card_apresentacao_content_img_position {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-top: 40px;
}

.card_apresentacao_content_img {
  width: 100%;
}

.card_apresentacao_content_p_position {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card_apresentacao_content_p1 {
  font-family: "Roboto", "sans-serif";
  font-weight: 550;
  font-size: 120%;
  line-height: 23.44px;
}

.card_apresentacao_content_p2 {
  font-family: "Roboto", "sans-serif";
  font-weight: 900;
  font-size: 180%;
  line-height: 37.5px;
}

.card_apresentacao_content_p3 {
  font-family: "Roboto", "sans-serif";
  font-weight: 900;
  font-size: 120%;
  line-height: 23.44px;
}

.card_apresentacao_content_button_position {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 20%;
}

.card_apresentacao_content_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 8% 10% 8% 10%;
  color: #2DCC70;
  font-size: 18px;
  line-height: 21.09px;
  border: none;
  border-radius: 50px;
  background-color: white;
  transition: 0.5s;
}

.card_apresentacao_content_button:hover {
  background-color: #3cb66f;
  color: white;
  transition: 0.5s;
}

@media (min-width: 450px) and (max-width: 850px) {
  .card_apresentacao_content_p_position {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .card_apresentacao_content_img {
    width: 110%;
  }

  .card_apresentacao_content_p_position{
    text-align: center;
  }

  .card_apresentacao_content_p1{
    font-size: 80%;
  }

  .card_apresentacao_content_p2 {
    font-size: 140%;
  }

  .card_apresentacao_content_p3 {
    font-size: 80%;
  }

  .card_apresentacao_content_button {
    font-size: 80%;
    border-radius: 50%;
    gap: 0px;
  }
}

/*Style Menu-opções*/

.menu-opcoes {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
  gap: 15px;
}

.menu-opcoes-img {
  width: 22px;
}

.menu-opcoes-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  font-family: "Inter";
  color: #100F0F;
}

.menu-opcoes-button-position {
  display: flex;
  gap: 40px;
}

.menu-opcoes-button {
  padding-bottom: 8px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 300;
  line-height: 19.36px;
  color: #A0A8B1;
  border: none;
  background-color: #F3F4F7;
  border-bottom: 4px solid #F3F4F7;
  transition: 0.5s;
}

.menu-opcoes-button:hover {
  font-weight: 500;
  border-bottom: 4px solid #2DCC70;
  color: #172C41;
  transition: 0.5s;
}

.green-opcoes {
  border-bottom: 4px solid #2DCC70;
  font-weight: 500;
}

@media (max-width: 450px) {
  .menu-opcoes-button-position {
    overflow-x: scroll;
  }
}

/*style Filter*/

.apresentacao_jogos {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 10px;
}

.filter {
  display: flex;
  margin-left: 20px;
  gap: 10px;
}

.filter_p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  color: #5D7079;
}

.filter_select {
  width: 91px;
  height: 32px;
  border: none;
  border-radius: 2px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  line-height: 15.23px;
  color: #A0A8B1;
}

.jogos_position {
  display: flex;
  flex-direction: column;
  height: 380px;
  gap: 13px;
  overflow: hidden;
  overflow-y: scroll;
}

.jogos_position::-webkit-scrollbar {
  width: 0px;
}

.jogos {
  display: flex;
  flex-direction: column;
}

.jogos_dados {
  background-color: white;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 12px 0px 12px 0px;
  justify-content: space-evenly;
  align-items: center;
}

.position_size {
  display: flex;
  align-items: center;
  gap: 20px;
}

.jogos_dados_club {
  display: flex;
  align-items: center;
  gap: 19px;
}

.jogos_dados_club_img {
  width: 43px;
}

.jogos_dados_vs {
  font-size: 17px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 20px;
  color: #959FA8;
}

.jogos_dados_write {
  text-decoration: none;
  display: flex;
  width: 110px;
  font-size: 17px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 20px;
  color: #959FA8;
  gap: 12px;
}

.icon-heart-grey {
  border: none;
  background-color: white;
  color: #E5E5E5;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.icon-heart-grey:hover {
  color: #F53636;
  transition: 0.5s;
}

.icon-heart-red {
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 25px;
  transition: 0.5s;
  color: #F53636;
}

.icon-heart-red:hover {
  color: #E5E5E5;
}

.jogos_dados_viewmore {
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 20px;
  color: #959FA8;
  transition: 0.5s;
}

.jogos_dados_viewmore:hover {
  color: #2dcc70;
  transition: 0.5s;
}

@media (max-width: 1550px) {
  .jogos_position {
    height: 280px;
  }
  .position_size {
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .jogos_dados_write {
    justify-content: center;
  }
}

@media (min-width: 450px) and (max-width: 850px) {
  .jogos_position {
    height: 380px;
  }
}

@media (max-width: 450px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .organize-content {
    padding-top: 14%;
    display: flex;
    flex-direction: column;
  }

  .filter {
    justify-content: center;
    margin-left: 0px;
    gap: 5px;
  }

  .filter_p {
    font-size: 16px;
  }

  .filter_select {
    font-size: 11px;
  }

  .jogos_position {
    gap: 35px;
  }

  .jogos_dados {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
  }

  .jogos_dados_club {
    justify-content: center;
  }

  .jogos_dados_vs {
    text-align: center;
  }
}

/* Style Destaque*/

.accordion {
  display: none;
}

.destaque {
  margin: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: auto;
  height: auto;
  border-radius: 5px;
}

.destaque_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #172C41;
  gap: 40px;
}

.destaque_arrow {
  display: flex;
  font-size: 13px;
  gap: 10px;
}

.destaque_buttom {
  background-color: white;
  border: none;
  cursor: pointer;
  color: #A0A8B1;
}

#context {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 30px;
}

.photo {
  border-radius: 50%;
  margin: 0% 20% 0% 20%;
  width: 50%;
  object-fit: cover;
}

.content_stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding-bottom: 5%;
}

.name {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 23.44px;
  color: #4A5860;
}

#icon {
  color: #FFA600;
  font-size: 14.25px;
  padding-right: 7px;
}

.stats {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 17.58px;
  color: #959FA8;
}

@media (min-width: 450px) and (max-width: 850px) {
  .accordion {
    display: block;
    background-color: white;
    color: #444;
    font-family: "Roboto";
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
  }

  .accordion:hover {
    background-color: #a6a6a6;
  }
  
  .accordion:after {
    content: '∨';
    color: black;
    font-weight: bold;
    float: right;
  }
  
  .accordion.active:after {
    content: "∧";
  }
  
  .see-destaque {
    background-color: #F3F4F7;
    max-height: 0;
    overflow: hidden;
    transition: 1s;
  }
  
  .destaque {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #context {
    display: grid;
    grid-template-columns: 3fr 9fr;
    margin-bottom: 20px;
  }

  .photo {
    width: 200px;
    border-radius: 5px;
  }
  
  .content_stats {
    gap: 35px;
  }

  .name {
    font-size: 35px;
  }

  #icon {
    font-size: 25px;
  }

  .stats {
    font-size: 25px;
  }
}

@media (max-width: 450px) {
  .accordion {
    display: block;
    background-color: white;
    color: #444;
    font-family: "Roboto";
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
  }

  .accordion:hover {
    background-color: #a6a6a6;
  }
  
  .accordion:after {
    content: '∨';
    color: black;
    font-weight: bold;
    float: right;
  }
  
  .accordion.active:after {
    content: "∧";
  }
  
  .see-destaque {
    background-color: #F3F4F7;
    max-height: 0;
    overflow: hidden;
    transition: 1s;
  }
  
  .destaque {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}