@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
}

/*Organizar a main*/

.organize-content {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 6fr 3fr;
}

.organized-content-center {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bg-blue {
  background-color: #F3F4F7;
}

/*style Sidebar*/

#sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  width: 90px;
  padding: 35px 0px;
  justify-content: space-between;
  max-height: 100vh;
  overflow-y: overlay;
  overflow-x: hidden;
}

#side_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  padding: 35px 0px;
  list-style: none;
}

.home-icon a {
  display: flex;
  align-items: center;
  color: #caced3;
  padding: 8.5px 31px 8.5px 31px;
  font-size: 23px;
  text-decoration: none;
}

.active-sidebar-icon {
  border-left: 3px solid;
}

.blue {
  border-color: #00b4d8;
}
.blue a {
  color: #00b4d8;
}

.green {
  border-color: #2dcc70;
}
.green a {
  color: #2dcc70;
}

.orange {
  border-color: #ffa600;
}
.orange a {
  color: #ffa600;
}

.brown {
  border-color: #583e00;
}
.brown a {
  color: #583e00;
}

.lemon-green {
  border-color: #f0ff1b;
}
.lemon-green a {
  color: #f0ff1b;
}

#plus {
  width: 50px;
  height: 50px;
  min-height: 50px;
  border: none;
  border-radius: 50px;
  background-color: #2dcc70;
  color: white;
  cursor: pointer;
}

#plus_content {
  font-size: 20px;
}

/*style Card-apresentação*/

.card_apresentacao {
  margin-top: 2%;
  border-radius: 24px;
  display: grid;
  grid-template-columns: 5fr 8fr 3fr 0.5fr;
  height: auto;
  background: linear-gradient(90deg, rgb(234, 253, 244) 0%, #2dcc70 160%);
}

.card_apresentacao_content {
  display: flex;
  gap: 30px;
}

.card_apresentacao_content_img_position {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-top: 40px;
}

.card_apresentacao_content_img {
  width: 100%;
}

.card_apresentacao_content_p_position {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card_apresentacao_content_p1 {
  font-family: "Roboto", "sans-serif";
  font-weight: 550;
  font-size: 120%;
  line-height: 23.44px;
}

.card_apresentacao_content_p2 {
  font-family: "Roboto", "sans-serif";
  font-weight: 900;
  font-size: 180%;
  line-height: 37.5px;
}

.card_apresentacao_content_p3 {
  font-family: "Roboto", "sans-serif";
  font-weight: 900;
  font-size: 120%;
  line-height: 23.44px;
}

.card_apresentacao_content_button_position {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 20%;
}

.card_apresentacao_content_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 8% 10% 8% 10%;
  color: #2DCC70;
  font-size: 18px;
  line-height: 21.09px;
  border: none;
  border-radius: 50px;
  background-color: white;
  transition: 0.5s;
}

.card_apresentacao_content_button:hover {
  background-color: #3cb66f;
  color: white;
  transition: 0.5s;
}

/*Style Menu-opções*/

.menu-opcoes {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
  gap: 15px;
}

.menu-opcoes-img {
  width: 22px;
}

.menu-opcoes-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  font-family: "Inter";
  color: #100F0F;
}

.menu-opcoes-button-position {
  display: flex;
  gap: 40px;
}

.menu-opcoes-button {
  padding-bottom: 8px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 300;
  line-height: 19.36px;
  color: #A0A8B1;
  border: none;
  background-color: #F3F4F7;
  border-bottom: 4px solid #F3F4F7;
  transition: 0.5s;
}

.menu-opcoes-button:hover {
  font-weight: 500;
  border-bottom: 4px solid #2DCC70;
  color: #172C41;
  transition: 0.5s;
}

.green-opcoes {
  border-bottom: 4px solid #2DCC70;
  font-weight: 500;
}

/*style Filter*/

.apresentacao_jogos {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 10px;
}

.filter {
  display: flex;
  margin-left: 20px;
  gap: 10px;
}

.filter_p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  color: #5D7079;
}

.filter_select {
  width: 91px;
  height: 32px;
  border: none;
  border-radius: 2px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  line-height: 15.23px;
  color: #A0A8B1;
}

.jogos_position {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.jogos {
  display: flex;
  flex-direction: column;
}

.jogos_dados {
  background-color: white;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 12px 0px 12px 0px;
  justify-content: space-evenly;
  align-items: center;
}

.jogos_dados_club {
  display: flex;
  align-items: center;
  gap: 19px;
}

.jogos_dados_club_img {
  width: 43px;
}

.jogos_dados_vs {
  font-size: 17px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 20px;
  color: #959FA8;
}

.jogos_dados_write {
  display: flex;
  width: 110px;
  font-size: 17px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 20px;
  color: #959FA8;
  gap: 12px;
}

.icon-heart-grey {
  border: none;
  background-color: white;
  color: #E5E5E5;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.icon-heart-grey:hover {
  color: #F53636;
  transition: 0.5s;
}

.icon-heart-red {
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 25px;
  transition: 0.5s;
  color: #F53636;
}

.icon-heart-red:hover {
  color: #E5E5E5;
}

.jogos_dados_viewmore {
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 20px;
  color: #959FA8;
  transition: 0.5s;
}

.jogos_dados_viewmore:hover {
  color: #2dcc70;
  transition: 0.5s;
}
